* {
  margin: 0;
}

@font-face {
  font-family: BN-Shade;
  src: url(../public/assets/fonts/BNShade.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

main {
  font-family: Inter;
  display: flex;
  justify-content: space-evenly;
  transition: all ease-in-out 1s;
  color: #2a2b2a;
}

h1 {
  font-family: BN-Shade;
  font-size: 6vw;
  transition: all ease-in-out 1s;
  border-bottom: solid 0.5rem #2694b2;
}

.minimised h1 {
  font-size: 1.5rem;
  transition: all ease-in-out 1s;
}

h2 {
  font-family: BN-Shade;
  transition: all ease-in-out 1s;
  text-align: center;
  padding: 1rem 1rem 1rem 0;
  white-space: nowrap;
}

.minimised h2 {
  transform: rotate(90deg);
  transition: all ease-in-out 1s;
}

h3 {
  font-weight: 300;
}

p {
  font-family: Inter, sans-serif;
}

summary {
  margin: 1rem;
}

summary::marker {
  color: #2a2b2a;
}

details:hover summary::marker {
  color: #2694b2;
}

video {
  width: 100%;
  clip-path: inset(1px 1px 1px 1px);
}

hr {
  margin: 1rem;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

/*module behaviour*/
.module {
  border-left: solid 0.5px rgba(0, 0, 0, 0.3);
  height: 100vh;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: all ease-in-out 1s;
}

.module:first-of-type {
  border: none;
}

.active {
  flex-grow: 10;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: border-box;
}

.module:not(.active) > .scroll-area {
  display: none;
}

.minimised {
  flex-basis: 100px;
  overflow: hidden;
  white-space: nowrap;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.select {
  display: inline-block;
  cursor: pointer;
}

.hidden {
  display: none;
  visibility: hidden;
  width: 0px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/*inside module*/

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  min-height: 85vh;
}

.scroll-area {
  position: relative;
  width: calc(100% - 1rem);
  object-fit: contain;
  overflow: scroll;
  padding: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  scroll-snap-type: y proximity;
}

#selector-about .scroll-area {
  max-width: 600px;
  align-self: center;
}

.scroll-area img {
  width: auto;
  height: auto;
  max-width: calc(100% - 2rem);
  max-height: 68vh;
  margin: 1rem;
  box-sizing: border-box;
  transition: all linear 1s;
  object-fit: contain;
}

.scroll-area details img {
  width: calc(100% - 2rem);
}

.scroll-area.hidden img {
  width: 1px;
  transition: all linear 10s;
}

.frontend-module {
  background-color: rgba(0, 0, 0, 0.02);
  height: auto;
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: 1fr auto 2fr 2fr;
}

.frontend-module .github-logo {
  height: 1.4rem;
  align-self: center;
}

.frontend-module > p {
  font-size: 0.8rem;
}

.frontend-links {
  display: flex;
  justify-content: space-around;
}

.frontend-module h3 {
  align-self: center;
}

.frontend-module > img {
  padding: 1rem;
}

.frontend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.project-title {
  margin: 1rem;
}

.arrange {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 1rem;
}

.arrange img {
  align-self: center;
}

/*animated gradient for product image*/

#selector-3d > .scroll-area > .project-section:first-of-type img {
  --angle: 0deg;
  background-image: linear-gradient(
    var(--angle),
    #000 0%,
    rgb(52, 15, 55) 50%,
    rgb(109, 167, 149)
  );
  animation: 20s rotate linear infinite;
  -webkit-animation: 20s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@-webkit-keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .module:not(.active) {
    display: none;
  }

  #hamburger {
    position: fixed;
    right: 1rem;
    top: 1rem;
    display: flex;
    padding: 0.5rem;
    background-color: rgba(245, 245, 245, 0.95);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.2s ease-in-out;
  }

  #hamburger ul {
    padding: 0;
    box-sizing: border-box;
  }

  #hamburger > ul > li {
    list-style: none;
    margin: 1rem;
  }

  #hamburger.closed {
    width: 1rem;
    height: 1rem;
    background: linear-gradient(
      to bottom,
      #2a2b2a,
      #2a2b2a 20%,
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0) 40%,
      #2a2b2a 40%,
      #2a2b2a 60%,
      rgba(0,0,0,0) 60%,
      rgba(0,0,0,0) 80%,
      #2a2b2a 80%,
      #2a2b2a 100%
    );
    box-shadow:  0 0 0 100vmax rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  #hamburger.closed:hover {
    background: linear-gradient(
      to bottom,
      #2694b2,
      #2694b2 20%,
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0) 40%,
      #2694b2 40%,
      #2694b2 60%,
      rgba(0,0,0,0) 60%,
      rgba(0,0,0,0) 80%,
      #2694b2 80%,
      #2694b2 100%
    );
  }

  #hamburger.closed li {
    margin: 0;
    font-size: 0;
  }

  #hamburger li:hover {
    border-bottom: solid 5px #2694b2;
    margin-bottom: -5px;
    cursor: pointer;
  }

  #hamburger ul li:last-child:hover{
    margin-bottom: 0.7rem;
  }

  .scroll-area {
    padding: 0;
  }
}
